ul {
  background-color: aqua;
}

li {
  color: blueviolet;
}

.testo-red {
  color: red;
}

.box {
  width: "30px";
  height: "60px";
  border-radius: "20px";
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}
